


body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}

.profile-page {
    background: linear-gradient(to right, #0f172a, #1e293b); 
    color: white; 
    min-height: 100vh;
}


#profile-id {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    
    padding: 2em;
    width: 500px;
    height: 300px;
    background: black; 
    text-align: center;
    border-radius: 10px;
    overflow: hidden;

   
    box-shadow: 0 0 20px rgba(0, 204, 255, 0.5);
    animation: glowAnimation 4s linear infinite;
}

@keyframes glowAnimation {
    0% {
        box-shadow: 0 0 10px #00ccff, 0 0 20px #d500f9;
    }
    50% {
        box-shadow: 0 0 20px #d500f9, 0 0 40px #00ccff;
    }
    100% {
        box-shadow: 0 0 10px #00ccff, 0 0 20px #d500f9;
    }
}

.container h2 {
    color: rgb(226, 226, 226);
    text-shadow: 2px 2px black;
    font-size: 3em;
}

.profile-buttons {
    background: black; 
    color: white; 
    border: 2px solid white; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    transition: all 0.3s ease-in-out;
}


.profile-buttons:hover {
    background: linear-gradient(90deg, #00ccff, #d500f9);
    color: white; 
    box-shadow: 0 0 10px rgba(0, 204, 255, 0.5), 0 0 20px rgba(213, 0, 249, 0.5); 
    transform: rotate(7deg);
}


.profile-buttons:active {
    background: linear-gradient(90deg, #00ccff, #d500f9);
    color: white; 
    box-shadow: 0 0 10px rgba(0, 204, 255, 0.5), 0 0 20px rgba(213, 0, 249, 0.5); 
}


.navbar {

    padding: 0;
    position: fixed; 
    top: 0;
    right: 0;
    width: 100%; 
    z-index: 999; 
}


.navbar ul {
    list-style-type: none; 
    background: transparent;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: flex-end; 
}


.navbar a {
    display: block;
    padding: 30px 100px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    border-radius: 5px; 
}


.navbar a:hover {
    background: transparent;
    color: linear-gradient(90deg, #00ccff, #d500f9);
    border: 2px solid white; /* White border */
    box-shadow: 0 0 10px rgba(0, 204, 255, 0.5), 0 0 20px rgba(213, 0, 249, 0.5);
    transform: rotate(2deg);
}


.navbar a:active {
    background: transparent;
    color: white;
    box-shadow: 0 0 10px rgba(0, 204, 255, 0.7), 0 0 20px rgba(213, 0, 249, 0.7); 
    transform: rotate(45deg);
}


.navbar li {
    margin: 0 10px; 
    transition: all 0.3s ease;
}
